{% comment %} {% load static %}
{% block stylesheet7 %}{% static 'styles/core/header-popup.css' %}{% endblock %} {% endcomment %}

<div class="header-popUp">
    <div class="content">
        <div class="main">
            <div class="wrap">
                <div class="contact">  
                    <p class="text"><span>Call Us:</span> <span>08054467654</span></p>
                    <p class="text"><span>Address:</span> <span>no 5 Etim Inyang street, Lagos</span></p>
                    <p class="text"><span>Email:</span> <span>megabright007@gmail.com</span></p>
                </div>
                <div class="about">
                    <p style="">We are a great company that puts the interest of 
                        our custumers first, our thrilling ourney started 
                        back in 2021, since then we have kept our words, 
                        bringing nigerians their favourite dishes without let up.
                    </p>
                </div>
            </div>
        </div>
        <div class="main2">
            <div class="img-case">
                <img src="{% static 'img/site_images/chinchin.png' %}">
            </div>
            <div class="text-side">
                <h1 style="margin-bottom:10px;">ingredient</h1>
                <p >water, beans , rice, oil, bread</p>
                <h1>Process</h1>
                <p>boil water for 18mins</p>
                <p>per-boil the rice, remuve all its shats</p>
                <p>cook your meat very well</p>
                <p>boil water for 18mins</p>
                <p>per-boil the rice, remuve all its shats</p>
                <p>cook your meat very well</p>
            </div>
        </div>
    </div>
</div>
        